<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.Ad_ID" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcherrr"
        android:label="Indian Train Booking"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcherrr_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeHome"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.railindia.indianrailway.Home"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|uiMode"
            android:exported="false" />
        <activity
            android:name="com.railindia.indianrailway.WebBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.railindia.indianrailway.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="@string/st_app_id" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>